.toolbox {
  position: absolute;
  width: 200px;
  left: 8%;
  top: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: rgb(75, 224, 162);
  border-radius: 20px;
}
